.title {
  font-family: "Inter", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #01283d;
  user-select: none;
  margin: 2.5rem 0 1rem 0;
  text-transform: uppercase;
}
.undertitle {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #01283d;
  user-select: none;
  margin-bottom: 2rem;
}
.divider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}
.divider-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -56%);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #01283d;
  padding: 0.05rem 0.25rem;
  background-color: #eee;
}
.new-poll-button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #01283d;
  text-decoration: none;
  padding: 0.7rem;
  border: 2px solid #01283d;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}
.new-poll-button:hover {
  color: whitesmoke;
  background-color: #01283d;
}
.poll-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 25rem;
  max-width: 38rem;
  margin: 0.5rem 0 2rem 0;
  height: fit-content;
  padding: 1rem;
  gap: 2rem;
}
.poll-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 0.2rem 0.5rem;
  background-color: whitesmoke;
  border: 2px solid #01283d;
  box-shadow: 4px 4px 0 0 #01283d;
}
.poll-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #01283d;
  width: 100%;
  padding: 0.5rem 0 0.8rem 0;
}
.poll-form {
  height: fit-content;
  width: 100%;
}
.poll-date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 0.45rem 0.2rem 0.3rem 0.2rem;
}
.poll-date {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  color: #01283d;
}
.poll-button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  width: 100%;
  color: #01283d;
  background-color: transparent;
  padding: 0.6rem 1rem;
  text-decoration: none;
  text-align: center;
  border: 2px solid #01283d;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.poll-button:hover {
  background-color: #01283d;
  color: white;
}
.poll-button:disabled {
  color: #01283d9a;
  border: 2px solid #01283d9a;
}
.poll-button:disabled:hover {
  background-color: transparent;
  color: #01283d9a;
  cursor: default;
}
.poll-delete-button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  width: 50%;
  color: #a70000;
  background-color: transparent;
  margin-top: 0.5rem;
  padding: 0.6rem 1rem;
  border: 2px solid #a70000;
  text-decoration: none;
  text-align: center;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.poll-delete-button:hover {
  background-color: #a70000;
  color: white;
}
.poll-modify-button {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  width: 50%;
  color: #01283d;
  background-color: transparent;
  margin-top: 0.5rem;
  padding: 0.6rem 1rem;
  border: 2px solid #01283d;
  text-decoration: none;
  text-align: center;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.poll-modify-button:hover {
  background-color: #01283d;
  color: white;
}
.poll-modifiers-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  padding-top: 0.25rem;
  border-top: 2px solid #01283d;
}
.poll-result-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #01283d;
  padding: 0.75rem 0 0.75rem 0.5rem;
  border-top: 1px solid #01283d;
  text-transform: uppercase;
}
.poll-result-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}
.poll-result-container {
  display: flex;
  width: 100%;
  padding-left: 3rem;
  border-bottom: 1px solid #01283d;
  padding-bottom: 1rem;
}
.poll-result-entry {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  padding-left: 0.2rem;
  color: #01283d;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 3.5rem;
  }
  .undertitle {
    font-size: 1rem;
  }
  .poll-title {
    font-size: 1.2rem;
  }
}
